.loginIcon {
  text-align: center;
  color: #75f991;
  margin-top: 10px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.card {
  background-color: #1a1a1a;
  width: 400px;
  height: 500px;
  margin-top: 10px;
  border-radius: 10px;
  justify-content: center;
}

.labelLogin {
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label {
  text-align: left;
  margin-left: 40px;
}

.form {
  margin-left: 40px;
  padding: 10px 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.rememberme {
    text-align: left;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

.button {
  text-decoration: None;
  color: black;
  font-weight: bold;
  background-color: #75f991;
  padding: 10px 60px;
  border-radius: 5px;
}


