* {
  margin: 0;
  padding: 0;
  font-family: 'Product Sans';
}

.bg {
  background-color: black;
 
}

.home,
.login,
.signup {
  display: flex;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}