.statusbar {
    background-color: "white";
    position: "relative";
    bottom: " 0";
    width: "100%";
}

.footer-logo {
    color: "#75F991";
    text-align: "left";
    padding-left: "32px";
}

.sublist {
    font-family: "Roboto Slab";
}

.sublist2 {
    font-family: "Roboto Slab";
    text-align: "left";
}

.list {
    text-decoration: "None";
    color: "white";
}

.cont-fluid {
    background-color: "#1A1A1A";
    height: "50px";
}

.copyright {
    margin-left: "500px";
}